*.png
*.tar.gz
*.txt
runs/
data/
data/raw/*
data/cleaned/*
data/translated/*
data/nanogpt/*
models/*
data/corpus
data/
*.pt
*.bin
*.log
*.sh
__pycache__/
.env
references.txt
data/corpus_char_counts.tsv
out/*
data/rdf-files
py311-embed/
finetune.log
